<?xml version="1.0" encoding="UTF-8"?>
<configFile xmlns="http://tempuri.org/ConfigScheme.xsd">
  <devices>
    <device>
      <name>NI9205-AI</name>
      <channels>
        <channel>
          <name>ai0_readout</name>
          <description>ai0</description>
          <port>ai</port>
          <line>0</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>RF_DC_Bias_readout(coax)</name>
          <description>RF_DC_Bias_readout</description>
          <port>ai</port>
          <line>1</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>-10</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ChamberPressure_readout(coax)</name>
          <description>ChamberPressure_readout</description>
          <port>ai</port>
          <line>2</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>Capacitance Manometer 10 Torr.lkp</calibration>
        </channel>
        <channel>
          <name>ai3_readout</name>
          <description>ai3</description>
          <port>ai</port>
          <line>3</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>WaferPlateTemperature_AI_(Type_J_via_pxr4)</name>
          <description>WaferPlateTemperature</description>
          <port>ai</port>
          <line>4</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>Thermocouple.lkp</calibration>
        </channel>
        <channel>
          <name>ai5_readout</name>
          <description>ai5</description>
          <port>ai</port>
          <line>5</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ChamberTemperature_AI_(chiller)</name>
          <description>ChamberTemperature</description>
          <port>ai</port>
          <line>6</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>Chiller.lkp</calibration>
        </channel>
        <channel>
          <name>ai7_readout</name>
          <description>ai7</description>
          <port>ai</port>
          <line>7</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai8_readout</name>
          <description>ai8</description>
          <port>ai</port>
          <line>8</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai9_readout</name>
          <description>ai9</description>
          <port>ai</port>
          <line>9</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai10_readout</name>
          <description>ai10</description>
          <port>ai</port>
          <line>10</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai11_readout</name>
          <description>ai11</description>
          <port>ai</port>
          <line>11</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai12_readout</name>
          <description>ai12</description>
          <port>ai</port>
          <line>12</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai13_readout</name>
          <description>ai13</description>
          <port>ai</port>
          <line>13</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai14_readout</name>
          <description>ai14</description>
          <port>ai</port>
          <line>14</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai15_readout</name>
          <description>ai15</description>
          <port>ai</port>
          <line>15</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>RF_FWD_Power(pinH)_readout</name>
          <description>RF_FWD_Power(pinH)</description>
          <port>ai</port>
          <line>16</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>RF FWD Power .lkp</calibration>
        </channel>
        <channel>
          <name>RF_RFL_Power(pinJ)_readout</name>
          <description>RF_RFL_Power(pinJ)</description>
          <port>ai</port>
          <line>17</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>RF RFL Power.lkp</calibration>
        </channel>
        <channel>
          <name>ai18_readout</name>
          <description>ai18</description>
          <port>ai</port>
          <line>18</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>MFC1_flow_readout</name>
          <description>MFC1_flow_readout</description>
          <port>ai</port>
          <line>19</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>MFC1 readout.lkp</calibration>
        </channel>
        <channel>
          <name>MFC2_flow_readout</name>
          <description>MFC2_flow_readout</description>
          <port>ai</port>
          <line>20</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>MFC2 readout.lkp</calibration>
        </channel>
        <channel>
          <name>MFC3_flow_readout</name>
          <description>MFC3_flow_readout</description>
          <port>ai</port>
          <line>21</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>MFC3 readout.lkp</calibration>
        </channel>
        <channel>
          <name>MFC4_flow_readout</name>
          <description>MFC4_flow_readout</description>
          <port>ai</port>
          <line>22</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>MFC4 readout.lkp</calibration>
        </channel>
        <channel>
          <name>MFC5_flow_readout</name>
          <description>MFC5_flow_readout</description>
          <port>ai</port>
          <line>23</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>5</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>MFC5 readout.lkp</calibration>
        </channel>
        <channel>
          <name>WatchdogAI1</name>
          <description>Watchdog3</description>
          <port>ai</port>
          <line>24</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>-15VDC_Supply</name>
          <description>-15VDC_Supply</description>
          <port>ai</port>
          <line>25</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>-10</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>+15VDC_Supply</name>
          <description>+15VDC_Supply</description>
          <port>ai</port>
          <line>26</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>-10</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>COM_15V_Supply</name>
          <description>COM_15V_Supply</description>
          <port>ai</port>
          <line>27</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>-10</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai28_readout</name>
          <description>ai28</description>
          <port>ai</port>
          <line>28</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai29_readout</name>
          <description>ai29</description>
          <port>ai</port>
          <line>29</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai30_readout</name>
          <description>ai30</description>
          <port>ai</port>
          <line>30</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ai31_readout</name>
          <description>ai31</description>
          <port>ai</port>
          <line>31</line>
          <devicetype>A</devicetype>
          <in>In</in>
          <min>0</min>
          <max>10</max>
          <inmode>NRSE</inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
      </channels>
    </device>
    <device>
      <name>NI9264-AO</name>
      <channels>
        <channel>
          <name>Pressure_Setpoint(coax)</name>
          <description>PressureSetpoint</description>
          <port>ao</port>
          <line>0</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>Pressure Set.lkp</calibration>
        </channel>
        <channel>
          <name>ao1_Setpoint</name>
          <description>ao1</description>
          <port>ao</port>
          <line>1</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>10</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ao2_Setpoint</name>
          <description>ao2</description>
          <port>ao</port>
          <line>2</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>10</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ao3_Setpoint</name>
          <description>ao3</description>
          <port>ao</port>
          <line>3</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>10</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ao4_Setpoint</name>
          <description>ao4</description>
          <port>ao</port>
          <line>4</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>10</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ao5_Setpoint</name>
          <description>ao5</description>
          <port>ao</port>
          <line>5</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>10</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>ChamberTemperature_Setpoint(chiller)</name>
          <description>ChamberTemperature_Setpoint</description>
          <port>ao</port>
          <line>6</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>10</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>Chiller.lkp</calibration>
        </channel>
        <channel>
          <name>RF_Power_Setpoint(pinE)</name>
          <description>RF_Power_Setpoint(pinE)</description>
          <port>ao</port>
          <line>7</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>RF Power Setpoint.lkp</calibration>
        </channel>
        <channel>
          <name>ao8_Setpoint</name>
          <description>ao8</description>
          <port>ao</port>
          <line>8</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>WatchdogAO1</name>
          <description>Watchdog4</description>
          <port>ao</port>
          <line>9</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>-</calibration>
        </channel>
        <channel>
          <name>WaferPlateTemperature_Setpoint(pxr4)</name>
          <description>WaferPlateTemperature_Setpoint</description>
          <port>ao</port>
          <line>10</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>Waferplate_Temperature_Setpoint.lkp</calibration>
        </channel>
        <channel>
          <name>Gas1_Flow_Setpoint</name>
          <description>Gas1_Flow_Setpoint</description>
          <port>ao</port>
          <line>11</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>MFC1 set.lkp</calibration>
        </channel>
        <channel>
          <name>Gas2_Flow_Setpoint</name>
          <description>Gas2_Flow_Setpoint</description>
          <port>ao</port>
          <line>12</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>MFC2 set.lkp</calibration>
        </channel>
        <channel>
          <name>Gas3_Flow_Setpoint</name>
          <description>Gas3_Flow_Setpoint</description>
          <port>ao</port>
          <line>13</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>MFC3 set.lkp</calibration>
        </channel>
        <channel>
          <name>Gas4_Flow_Setpoint</name>
          <description>Gas4_Flow_Setpoint</description>
          <port>ao</port>
          <line>14</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>MFC4 set.lkp</calibration>
        </channel>
        <channel>
          <name>Gas5_Flow_Setpoint</name>
          <description>Gas5_Flow_Setpoint</description>
          <port>ao</port>
          <line>15</line>
          <devicetype>A</devicetype>
          <in>Out</in>
          <min>0</min>
          <max>5</max>
          <inmode>
          </inmode>
          <value>0</value>
          <calibration>MFC5 set.lkp</calibration>
        </channel>
      </channels>
    </device>
  </devices>
  <generics>
    <generic>
      <genericName>Averaging Window Width</genericName>
      <genericValue>100</genericValue>
    </generic>
    <generic>
      <genericName>Moving Average</genericName>
      <genericValue>3</genericValue>
    </generic>
    <generic>
      <genericName>Logging Level</genericName>
      <genericValue>99</genericValue>
    </generic>
    <generic>
      <genericName>Serial Devices Timeout</genericName>
      <genericValue>1000</genericValue>
    </generic>
  </generics>
</configFile>